// Cores
$cor-primaria: #FF0000;
$cor-secundaria: #A30810;
$cor-escrita: #605D5C;
$cor-acao: #80C161;
$cor-box: #C4C4C4;

//Tamanhos de fonte
$font-title1: 31px;
$font-paragraphy: 14px;
$font-body: 17px; 

//Tamanhos de tela
$tab-p-width: 768px;
$tab-l-width: 1024px;
$lap-width: 1160px;