@font-face {
    font-family: "Swiss 721 Bold";
    src: url('/src/assets/fonts/swiss-721-bold.otf');
}

@font-face {
    font-family: "Swiss 721 Heavy";
    src: url('/src/assets/fonts/swiss-721-heavy.otf');
}

@font-face {
    font-family: "Swiss 721 Light";
    src: url('/src/assets/fonts/swiss-721-light.otf');
}

@font-face {
    font-family: "Swiss 721 Medium";
    src: url('/src/assets/fonts/swiss-721-medium.otf');
}

@font-face {
    font-family: "Swiss 721 Roman";
    src: url('/src/assets/fonts/swiss-721-roman.otf');
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "Swiss 721 Light";
}

html .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 768px) {
    html .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    html .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    html .container {
        max-width: 1140px;
    }
}


@media (min-width: 1400px) {
    html .container {
        max-width: 1320px;
    }
}

body.breakup {
    overflow: hidden;
}

.scroll {
    overflow: auto;
}

div.disabled {
    display: none;
}

div.overlay {
    @include z-index(overlay);
    display: none;
    background-color: #212121cc;
    color: #0006;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 0.1s ease-in-out;
}

div.overlay.appear {
    display: block !important;
}


