// Cores
$cor-primaria: #FF0000;
$cor-secundaria: #A30810;
$cor-escrita: #605D5C;
$cor-acao: #80C161;
$cor-box: #C4C4C4;

// Funções

@use "sass:math";

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
    @return math.div($pixels, $context) * 1em;
}

$z-index: (
  menu               : 110,
  overlay            : 100,
  minicart           : 90,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
